<div class='container-fluid' style='background-color:#ECF0F1' >

<div class='row text-center'>
  <div class='col-lg-12'>
    <h5>Please enter the text in this image.</h5>
  </div>  
</div>

<div class='row text-center'>
  <div class='col-lg-12'>
    <%= image_tag(@image_address) %>
  </div>  
</div>

<%= form_for @answer, url: answers_path(@question.id) do |f| %>
<div class='row text-center' style='margin-top:20px'>
  <div class='col-lg-12'>
    <div class='form-group'>
      <%= f.text_field :content, autofocus: true, class:'form-control', style:'text-align:center'%>
    </div>
  </div>  
</div>

<%= f.hidden_field :question_id, value: @question.id %>

<div class='row text-center' style='margin-top:20px ' >
  <div class='col-lg-12' >
    <%= f.submit "Start", class:'btn btn-primary btn-block btn-embossed' %>
  </div>
</div>

<% end %>

</div>
